<div class="container">

  <div class="header">
    <app-header ></app-header>
  </div>
  <div class="content">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/about-us-concept-illustration_114360-639.jpg">
        </div>
        <div class="col-md-6">
          <h2 class="title">
          {{title}}</h2>
          <p class="about-us">
            {{aboutUsDescriptions}}
          </p>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4" style="margin-left: 620px;margin-top: -299px;">
          <h2>{{contactUs}}</h2>

          <form action="/action_page.php">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" value="Doe"><br><br>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="footer">
    <div class="col">
      <div class="footer-label" >
        SkyWalk
      </div>
      <p class="footer-title">
© 2021 All Rights Reserved for SkyWalk PVT. LTD
      </p>
    </div>
  </div>
</div>
